/*====================*/
/*== Core Elements ==*/
/*==================*/

body {
  background: #0d1011;
  font-family: "Roboto", sans-serif;
  font-size: 9pt;
  color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: opacity .8s ease;
  overflow: hidden;
}
ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a, a:link, a:visited {
  color: #1F2326;
  text-decoration: none;
}
a:hover, a:active {
  color: #fff;
}
textarea {
  font-family: "Roboto", sans-serif;
}

.background {
  background: #0d1011 url("../media/redforest.jpg") no-repeat center fixed;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

/*================*/
/*== Spotlight ==*/
/*==============*/

#spotlight_wrapper {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  width: 100%;
}

#spotlight_box {
  display: block;
  width: 628px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #aaa;
  background-color: #1F2326;
}

#spotlight {
  display: block;
  width: 628px;
  height: 56px;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 25px 60px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  font-size: 1.6rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #aaa;
  background-color: #1F2326;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjIuNyAyMi41IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi43IDIyLjUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxjaXJjbGUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgY3g9IjguMSIgY3k9IjguNCIgcj0iNi44Ii8+PGxpbmUgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2NzY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1taXRlcmxpbWl0PSIxMCIgeDE9IjEzLjIiIHkxPSIxMi45IiB4Mj0iMjEuNSIgeTI9IjIxLjQiLz48L3N2Zz4=);
  background-position: left 17px center;
  background-repeat: no-repeat;
  background-size: 3.5%;
  padding: 0 52px;
}

#searchList {
  font-size: 1.0rem;
}

#searchList li {
  border-bottom: 1px solid #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 25px;
}

/*==============*/
/*== Widgets ==*/
/*============*/

.widget {
  top: 20px;
  left: 20px;
  position: fixed;
  font-family: 'Roboto';
  font-weight: 300;
  text-shadow: 0  0    8px rgba(0,0,0,.18),
               0  8px 16px rgba(0,0,0,.36);
  opacity: 0;
  transition: opacity 0.2s cubic-bezier(0.4, 0.0, 0.2, 1) 0.05s;
}
.widget.align-right {
  left: initial;
  right: 20px;
  text-align: right;
}
.widget.align-bottom {
  top: initial;
  bottom: 20px;
}

/*==============*/
/*== Helpers ==*/
/*============*/

.font-3em {
  font-size: 3em;
}